<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{%static "images/apple-touch-icon.png"%}">
<link rel="icon" type="image/png" sizes="32x32" href="{%static "images/favicon-32x32.png"%}">
<link rel="icon" type="image/png" sizes="16x16" href="{%static "images/favicon-16x16.png"%}">
<link rel="manifest" href="{%static "images/site.webmanifest"%}">

    <link rel="stylesheet" href="{%static "css/service.css"%}">
    <link rel="stylesheet" href="{%static "css/bootstrap.min.css"%}">
</head>
<body>

    <div class="container-fluid" style="background-image: url({%static "images/img8.jpg"%}); background-size: cover; background-position: center center;">
        <!--===service page start from here=======-->
        <div class="service">
            <div class="blar">
             <!---===menu start from here=======-->
                <div class="menu">
                    <div class="row">
                        <!--===logo part start from here====-->
                            <div class="col-lg-2">
                                <h1 data-wow-duration="4s" class="wow tada">LENUS</h1>
                            </div>
                                
                            <div class="col-lg-8">
                                <ul class="nav justify-content-end py-3">
                                    <li class="nav-item"><a  class="nav-link" href="/index">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                                    <li class ="nav-item"><a class="nav-link" href="/services">Services</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        <!--===logo part end here=====-->
                    </div>
                                                    
                </div>
                                
                                                
            <!--======menu ends here=========-->

            <!--===service body start from here =======-->
            <!---====
                **service body
                **contain the boday element of the page
            ====-->

            <div class="ser_body">

                <!--=====contant start from here====-->

                <!--====contant for ambulance part start from here====-->
                <div class="con_1" style="background-image: url({%static "images/img11.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>Ambulacne</h3>
                        <p>Find your ambulance service here.</p>
                        <a href="/ambu">Find Ambulance</a>
                    </div>

                    

                </div>
                <!--====contant for ambulance part ends here======-->

                <!--===contant for doctor part start from here=====-->
                <div class="con_1" style="background-image: url({%static "images/doc.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>Doctor</h3>
                        <p>Find your Doctor here.</p>
                        <a href="/doc">Find Doctor</a>
                    </div>

                </div>
                <!--==contant for doctor ends here=======-->

                <!--===contant for madicine part start from here====-->
                <div class="con_1" style="background-image: url({%static "images/meds.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>Medicine</h3>
                        <p>Find your medecine service here.</p>
                        <a href="/medi">Find Madicine</a>
                    </div>

                </div>
                <!--====contant for madicine part ends here===-->

                <!--===contant for volunteer start from here=====-->
                <div class="con_1" style="background-image: url({%static "images/vol.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>Volunteer</h3>
                        <p>Find your Volunteer service here.</p>
                        <a href="/volun">Find Volunteer</a>
                    </div>

                </div>
                <!--===contant for volunteer service ends here======-->

                <!--====CONTANT FOR FIRE SERVICE START FROM HERE====-->
                <div class="con_1" style="background-image: url({%static "images/img12.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>Fire Service</h3>
                        <p>Find your fire service here.</p>
                        <a href="/fire_ser">Find Fire Service</a>
                    </div>

                </div>
                <!--====contant for fire service ends here=======-->

                <!--=====contant for police start form here======-->
                <div class="con_1" style="background-image: url({%static "images/img3.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>Police</h3>
                        <p>Find your police service here.</p>
                        <a href="/police">police</a>
                    </div>

                </div>
                <!--====Content for police service ends here=====-->


                <!--====contant for blood donation start from here=====-->
                <div class="con_1" style="background-image: url({%static "images/covid.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>COVID19</h3>
                        <p>Know more about Covid in Recent time.</p>
                        <a href="/blood">Covid 19 Statistics</a>
                    </div>

                </div>
                <!--=====contant for blood donation ends here========-->


                <!---===conatant for physiotherapist start from here======-->
                <div class="con_1" style="background-image: url({%static "images/phy.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>Physiotherapist</h3>
                        <p>Find your physiotherapist service here.</p>
                        <a href="/physio">Find Physiotherapist</a>
                    </div>

                </div>
                <!---===conatant for physiotherapist ends from here======-->


                <!--====contant for others start from here======-->
                <div class="con_1" style="background-image: url({%static "images/safe.jpg"%});background-size: cover; background-position: center center;">
                    <div class="blar_con" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);">
                        <h3>Pandemic Care</h3>
                        <p>Things You Should know About Covid 19.</p>
                        <a href="/others">Precaution</a>
                    </div>

                </div>
                <!--===contant for other ends here======-->


                
                <!--===contant jends here=====-->

            </div>




            </div>
        </div>
    </div>




    <script src="{%static "js/bootstrap.min.js"%}"></script>
    <script src="{%static "js/jquery-3.5.1.min.js"%}"></script>
    <script src="{%static "js/parallax.min.js"%}"></script>
    <script src="{%static "js/wow.js"%}"></script>
    
</body>
</html>